* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background: url(./files/background.jpg) top center no-repeat;
    height: 600px;
    background-size: cover; 
}

.big-link {
    font-size: 36px;
    color: #000;
    margin: 20px;
}