* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background: url(./files/background.jpg) top center no-repeat;
    height: 600px;
    background-size: cover; 
    position:relative
}

.bg::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    content: "";
    background-color: rgb(0, 0, 0, 0.3);
}

