* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

.bg {
    background: url(/files/background.jpg) top center no-repeat;
    height: 600px;
    background-size: cover; 
}

.big-link {
    font-size: 36px;
    color: #000;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
}

p {
   
    font-size: 26px;


}


font-family: 'Secular One', sans-serif;

*/



.container {
    max-width: 1200px;
    margin: 0 auto;
}

.block_ {
    font-family: 'Secular One', sans-serif;
    width: 150px;
    height: 150px;
    border: 1px solid #333;
    font-size: 36px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block1 {
    background-color: red;
}

.block2 {
    background-color: orange;
}

.block3 {
    background-color: yellow;
}

.block4 {
    background-color: lawngreen;
}

.block5 {
    background-color: green;
}

.block6 {
    background-color: lightskyblue;
}

.block7 {
    background-color: blue;
}

.block8 {
    background-color: purple;
}

.block9 {
    background-color: palevioletred;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
}

